<nav class="bg-teal-600 border-b border-gray-200 px-6 py-3 flex justify-between items-center shadow-sm">
  <div class="flex items-center">
    <img src="../assets/logo2.png" alt="Logo" class="w-16 h-16">
    <h1 class="text-xl font-bold text-white tracking-tight mt-11">HelpDesk System</h1>
  </div>

  <div class="relative flex items-center gap-4">
    <div 
      (click)="toggleMenu()" 
      class="flex items-center gap-3 cursor-pointer hover:opacity-80 transition-opacity p-2 rounded-lg">
      
      <div class="flex flex-col text-right hidden sm:flex">
        <span class="text-[16px] text-white uppercase tracking-wider opacity-80 leading-none">Welcome,</span>
        <span class="text-sm text-white font-bold">{{ authService.getUsername() }}</span>
      </div>

      <img 
        src="https://ui-avatars.com/api/?name={{ authService.getUsername() }}&background=0d9488&color=fff" 
        alt="Profile" 
        class="w-10 h-10 rounded-full border-2 border-teal-700 object-cover"
      />
    </div>

    <div *ngIf="isMenuOpen" (clickOutside)="isMenuOpen = false" class="absolute right-0 top-full mt-2 w-48 bg-white rounded-xl shadow-xl border border-gray-100 py-2 z-50 animate-in fade-in slide-in-from-top-2 duration-200">      
      <div class="px-4 py-3 border-b border-gray-50">
        <p class="text-xs text-gray-500 uppercase font-semibold tracking-widest">Access</p>
        <p class="text-sm font-bold text-teal-700">
          {{ authService.hasRole(['ADMIN']) ? 'Manager' : 'Standard User' }}
        </p>
      </div>

      <button 
        (click)="authService.logout()" 
        class="w-full text-left px-4 py-3 text-sm text-red-600 hover:bg-red-50 transition-colors flex items-center gap-2">
        <i class="pi pi-sign-out"></i>
      Logout
      </button>
    </div>
  </div>
</nav>

<div class="flex">
  <aside class="w-60 min-h-screen bg-gray-200 border-r border-gray-200">
    <app-menu></app-menu>
  </aside>

  <main class="flex-1 p-8 bg-white">
    <router-outlet></router-outlet>
  </main>
</div>