html, body {
    background-color: #0D9488 !important; 
    background-image: none !important;
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100% !important;
}

body {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 50px; 
}

/* LOGO */
body::after {
    content: "" !important;
    background-image: url('../img/logo.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: absolute !important;
    top: 20px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 220px !important;
    height: 90px !important;
    z-index: 20 !important;
}

/* INSTRUCTIONS */
body::before {
    content: "Login Instructions\00000a\00000a Manager: admin / admin\00000a User: user1 / user" !important;
    white-space: pre !important;
    display: block !important;
    background: rgba(255, 255, 255, 0.1) !important;
    border: 2px solid white !important;
    color: white !important;
    padding: 25px !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    line-height: 1.5 !important;
    min-width: 280px;
}

/* LOGIN CARD */
.login-pf-page .card-pf {
    width: 400px !important;
    margin: 0 !important;
    padding: 30px !important;
    background-color: rgba(255, 255, 255, 0.98) !important;
    border-radius: 12px !important;
    box-shadow: 0 10px 40px rgba(0,0,0,0.3) !important;
}

@media (max-width: 1100px) {
    body {
        flex-direction: column !important;
        justify-content: flex-start !important;
        padding-top: 130px !important;
        overflow-y: auto !important;
        gap: 0!important;
    }

    body::before {
       margin-top: 2rem !important;
    }    
}

#kc-header-wrapper::before {
    content: "HelpDesk System" !important;
    display: block !important;
    position: absolute !important;
    top: 110px !important; 
    left: 50% !important;
    transform: translateX(-50%) !important;
    color: white !important;
    font-size: 26px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    white-space: nowrap !important;
}

#kc-header-wrapper {
    display: block !important;
    visibility: visible !important;
    font-size: 0 !important;
}