@tailwind base;
@tailwind components;
@tailwind utilities;

.active-route {
    background-color: #e2e6e5 !important; 
    color: #0f766e !important;
    border: 2px solid #0d9488;
    background-color: white!important;
}